@charset "utf-8";
* {
	font-size: 12px;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	background-repeat: no-repeat;
	color: #000000;
}
ul {
	list-style-type: none;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align:center;
}
.underline {
	text-decoration: underline;
}
.gold {
	color: #FF9635;
}
.white {
	color: #FFFFFF;
}
.font_13px {
	font-size: 13px !important;
}
#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#wrapper #header #search {
	background-image: url(../images/search_bar.png);
	float: right;
	height: 26px;
	width: 198px;
	margin-top: 25px;
	background-repeat: no-repeat;
}
#wrapper #header #search #search_box {
	height: 23px;
	margin-left: 10px;
	width: 140px;
	margin-top: 2px;
	outline: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#wrapper #header #navbar {
	background-image: url(../images/nav_bar.png);
	height: 28px;
	width: 860px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 10px;
}
#wrapper #header #navbar #nav li {
	float: left;
	margin-right: 74px;
	position: relative;
	border:none;
}
#wrapper #header #navbar #nav li a {
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
#wrapper #header #navbar #nav li:hover {
	background:#EEEEEE;
}
#wrapper #header #navbar #nav li a:hover {
	color:#000;
}
#wrapper #header #navbar #nav li.drop:hover {
	border-bottom:none;
    -webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#wrapper #header #navbar #nav li.nodrop:hover {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

#wrapper #header #navbar #nav div {
	background:#EEEEEE;
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 10px;
    -webkit-border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	position:absolute;
	left:-9999px;
}
#wrapper #header #navbar #nav li.drop div{
	white-space: nowrap;
	text-decoration: none;
	background: #EEEEEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB));
	background: -webkit-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -o-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: -ms-linear-gradient(top, #EEEEEE, #BBBBBB);
	background: linear-gradient(top, #EEEEEE, #BBBBBB);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFEEEEEE, endColorstr=#FFBBBBBB)";	
	color: #000;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #444444;
	border-bottom-color: #444444;
	border-left-color: #444444;
}
#wrapper #header #navbar #nav li.drop:hover div{
	left:-1px;
	z-index: 100;
}
#wrapper #header #navbar #nav li:hover ul li a:hover{
	background:#333;
}
#wrapper #header #navbar #nav li:hover a {
	color:#161616;
}
#wrapper #header #navbar #nav li:hover,
#wrapper #header #navbar #nav li.nodrop:hover {
	background:#eeeeee;
}
#wrapper #header #navbar #nav li.right {
	float:right;
	right:0;
	margin-right:0;
}
#wrapper #header #navbar #nav li div a {
	color: #097DBA !important;
	font-weight: normal !important;
}
#wrapper #header #navbar #nav li div a:hover {
	color: #F89631 !important;
}
#wrapper #footer ul {
	margin-left: 125px;
	margin-bottom: 10px;
}
#wrapper #footer li {
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
}
#wrapper #footer li a {
	color: #FFFFFF;
	outline: 0;
	text-decoration: underline;
	display: block;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 3px;
	padding-left: 20px;
}
